.footer-section {
    position: relative;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer-left-section p {
    display: flex;
    margin-left: 260px;
    color: grey;
}

.footer-right-section img {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-right: 260px;
    width: 400px;
}
