/* Navigation Bar Hamburger Menu Hidden For PC */
.my-channel-icon-dropdown-container {
    display: none;
}

/* Mobile Responsive */
@media (min-width:0px) and (max-width:999px) {
    /* Navigation Bar */
    .navigation-bar {
        background-color: black;
    }

    /* Left Section */
    .left-section {
        margin-left: 4px;
        margin-top: 4px;
    }

    .left-section img {
        width: 110px;
    }

    /* Right Section */
    .right-section {
        display: none;
    }

    /* Right Section Drop Down Menu From Mobile And Tablet*/
    .my-channel-icon-dropdown-container {
        display: flex;
        position: relative;
        right: 20px;
    }

    .dropbtn {
        border: 0;
        background-color: transparent;
        font-size: 20px;
    }

    .fa-bars {
        cursor: pointer;
        filter: invert(100%);
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #E6006E;
        min-width: 290px;
        overflow: auto;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: -273px;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 14px;
        line-height: 20px;
        font-family: Mabook;
    }

    .navbar-right-section-text a {
        color: white;
        padding: 12px 16px;
    }

    .text-shop a {
        color: grey;
        cursor: default;
    }

    .text-shop:hover a {
        text-decoration: none;
    }

    .dropdown-content.show {
        display: block;
    }
}
